*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    height:10000vh;
}
.main-content{
    margin: 0 auto;
    max-width: calc(100% - 48px);

}

/* Header */
.header
{
    background-color: #FFFCF4;
    z-index: 1;
}

.header.fixed
{
    position: sticky;
    top:-28px;
}
.btn{
    display: inline-block;
    color:white;
    padding:  16px;
    text-align: center;  
    font-weight: 600; 
    border-radius: 24.5px;
    font-size: 1.6rem;
    height: 50px;
    min-width: 118px;


}
.btn:hover
{
    cursor: pointer;
    opacity: 0.8;
}

.header .body
{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
    /* position: -webkit-sticky; */
}
.nav ul
{
    display: flex;
    justify-content: space-between;
}

.nav{
    margin-left: auto;
}
a{
    text-decoration: none;
}
.btn-sign-up
{
    background-color: black;
    width: 144px;
}

.nav a{
    color:#5F5B53;
    font-size: 1.6rem;
    padding: 8px 21px;
    position: relative;
}
.nav a:hover
{
    /* font-weight: 600; */
    text-shadow: 1px 0 0 black;
}
.nav li.active a::after
{
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: black;
    left: 22px;
}
.nav li.active a{
    text-shadow: 1px 0 0 black;
}
.header .action
{
    display: inline-block;
    margin-left: 49px;
}


/* ====================Main===================== */
.hero{
    background-color:#FFFCF4 ;
    padding-top: 56px;
}

.item{
    width: 170px;
    display: flex;
    /* position: absolute; */
   
}


main .body
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
main .media-block
{
    position: relative;
    width: 48%;
}
.hero-summary
{
    position: absolute;
    height: 240px;
    width: 220px;
    background-color: #FFFFFF;
    bottom: 48px;
    right: 100px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.media-block>img
{
    width: 400px;
    height: 685px;
    object-fit: cover;
}

.info .title
{
    font-weight: 700;
}
.info .label
{
    line-height: 26px;
    font-size: 14px;
}
main .content-block
{
    width: 52%;
    height: 558px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}
main .content-block h1{
    font-family: 'Sen', sans-serif;
    height: 204px;
    width: 510px;
    font-size: 60px;
    font-weight: 700;
    padding:20px 0;
}
main .content-block p{
    line-height: 30px;
    font-size: 18px;

}

.button-content
{
    display: flex;
    justify-content: flex-start;
}
.btn-See-Course
{
    background-color: #FFB900;
    margin-top: 15px;
}
.Watch-video
{
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-left: 10px;
}
.Watch-video:hover
{
    cursor: pointer;
    opacity: 0.7;
}
.Watch-video img
{
    margin-top: 10px;
}
.soluong
{
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.soluong span
{
    font-weight: 700;
    font-size: 30px;
}

